[flake8]
ignore =
    E203    # No space before colon
    W503
    A003    # Class attribute shadows a python builtin -- not much chance of that causing a problem
    D401    # First line should be in imperative mood -- cached_properties don't fit this bill.
    D101    # Missing docstring in public class -- my docstrings are in the __init__ which seems to fail this ?
    RST210  # Otherwise it flags down **kwargs in docstrings.
# These are the only things currently checked, but should be expanded.
# Would be much easier to use black.
select =
    E9
    F63
    F7
    F82
max-line-length = 127
max-complexity = 10
inline-quotes = double
per-file-ignores =
    tests/*:D
    **/__init__.py:F401
