[flake8]
ignore =
    # No space before colon
    E203
    W503
    # Class attribute shadows a python builtin -- not much chance of that causing a problem
    A003
    # First line should be in imperative mood -- cached_properties don't fit this bill.
    D401
    # Missing docstring in public class -- my docstrings are in the __init__ which seems to fail this ?
    D101
    # Otherwise it flags down **kwargs in docstrings.
    RST210
# These are the only things currently checked, but should be expanded.
# Would be much easier to use black.
select =
    E9
    F63
    F7
    F82
max-line-length = 127
max-complexity = 10
inline-quotes = double
per-file-ignores =
    tests/*:D
    **/__init__.py:F401
